* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.fl {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
} 

ul {
    list-style: none;
}

[class^="container-"] {
    margin: 0 auto;
    /* border: 2px solid #333; */
}

.container-1 {
    width: 1300px;
    position: relative;
}

.container-2 {
    width: 1100px;
}

nav.topbar {
    border: 1px solid #333;
    height: 70px;
}

nav.topbar ul {
    border: 2px dashed #f00;
    width: 50%;
    height: 100%;
}

header {
    background: #b4d0e7;
    height: 550px;
}

header .container-1 img {
    height: 450px;
    position: absolute;
    top: 150px;
    right: 0;

}

.text-header {
    max-width: 300px;
}

[class^="plans-item-"] {
    width: calc(100% / 3);
}

.plans-item-1 {
    padding-right: 20px;
}

.plans-item-2 {
    padding: 0 20px;
}

.plans-item-3 {
    padding-left: 20px;
}

