/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* class utility */
.fl {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
} 

ul {
    list-style: none;
}

[class^="container-"] {
    margin: 0 auto;
}

.container-1 {
    width: 1200px;
    position: relative;
}

.container-2 {
    width: 1000px;
}

.button {
    display: inline-block;
    background: #0061ff;
    color: #fff;
    font-size: 16px;
    padding: 8px 25px;
    font-weight: lighter;
}

/* navbar */
nav.topbar {
    height: 70px;
    padding-top: 15px;
}

nav.topbar ul {
    width: 50%;
}

nav.topbar ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 18px;
}

/* nav.topbar img {
    vertical-align: middle;
} */

.topbar-right {
    text-align: right;
}

/* jumbotron */
header {
    background: #b4d0e7;
    height: 700px;
}

header .container-1 h1 {
    font-size: 65px;
    padding: 40px 30px 30px 0;
}

header .container-1 img {
    height: 450px;
    position: absolute;
    top: 300px;
    right: 0;

}

.text-header {
    max-width: 400px;
    font-size: 18px;
    padding-bottom: 30px;
}

.slogan {
    font-size: 14px;
    padding: 10px 0;
}

.arrow {
    font-size: 60px;
    padding-top: 20px;
}

/* piani di attivazione */
.plans {
    padding: 150px 0 50px 0;
}

.plans h2 {
    font-size: 40px;
}

.plans form {
    font-size: 16px;
}

.plans h2, .plans form, .plans-items, .plans-enterprise {
    padding: 20px 0;
}

.plans-item-1, .plans-item-2 {
    width: calc(100% / 3 - 40px);
}

.plans-item-2 {
    margin: 0 60px;
}

.plans-title {
    font-size: 14px;
    border: 1px solid #333;
    border-bottom: 0;
    padding: 10px;
    text-align: center;
    color: #555;
}

.plans-content {
    height: 750px;
}

.plans-content-enterprise, .plans-content{
    border: 1px solid #333;
    padding: 30px;
}

/* contenuto piani di attivazione */

.plans-content h3, .plans-content-enterprise h3 {
    font-size: 26px;
}

.plans-content .price {
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
}

.plans-content .al-mese {
    font-size: 16px;
    color: #555;
}

.plans-content > ul {
    padding: 40px 0;
}

.plans-content ul li{
    padding: 8px 0;
    font-size: 15px;
}

.buy {
    padding: 20px 0 30px 0;
    font-size: 15px;
}

.plans-content hr {
    width: 50px;
}

.list-title {
    padding: 30px 0 10px 0;
    font-weight: bold;
}

.list ul {
    list-style: disc;    
    padding-left: 18px;
}

/* piani enterprise */
.plans-content-enterprise {
    position: relative;
}

.button-ent {
    position: absolute;
    top: 30px;
    right: 30px;
}

/* sezione partner */
.partner {
    padding: 50px 0;
}
.partner-img {
    width: 65%;
}

.partner-img img {
    height: 550px;
}

.partner-text {
    width: 35%;
    padding-top: 100px;
}

.partner-text h3 {
    font-size: 24px;
}

.partner-text-1 {
    font-size: 14px;
    line-height: 1.5;
    padding: 20px 0;
}

.button-white {
    display: inline-block;
    border: 1px solid #000;
    font-size: 15px;
    padding: 8px 25px;

}

/* sezione business */
.business {
    padding: 50px 0;
}

.business-container, .business-container-center {
    width: calc((100% /3) - 40px);
    height: 550px;
}

.business-container-center {
    margin: 0 60px;
}

.business-img {
    text-align: center;
}

.business-img img {
    height: 200px;
}

.business h1 {
    font-size: 34px;
    padding-bottom: 30px;
}

.business-text h3 {
    font-size: 22px;
    padding-top: 10px;
}

/* sezione client */
.client-text {
    font-size: 45px;
    padding-bottom: 10px;
}

.box-container {
    margin-top: 20px;
}

.box {
    width: calc(100% / 3);
    height: 400px;
}

.box-color {
    background: #F5F5F5;
}

[class^="small-box-"] {
    width: 50%;
    height: 50%;
}

.small-box-1 {
    background: #A2D39B;
}

.small-box-2 {
    background: #61082B;
}

.small-box-3 {
    background: #0093CE;
}

.small-box-4 {
    background: #FF1C1C;
}

.small-box-5 {
    background: #D5001F;
}

.small-box-6 {
    background: #B2CEE4;
}

.small-box-7 {
    background: #0D2480;
}

.small-box-8 {
    background: #FAD42F;
}

.free {
    background: #B9CFE5;
    padding: 100px 0;
}

.free h2 {
    width: 70%;
    display: inline-block;
    color: #531228;
    font-size: 34px;
    padding-right: 30px;
}

.button-white-1 {
    display: inline-block;
    background: #fff;
    font-size: 15px;
    padding: 8px 25px;
    vertical-align: top;
}

/* sezione faq */
.faq {
    padding: 50px 0;
}

.faq-title {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
}

.faq-query {
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

.faq-query-text, .vee {
    display: inline-block;
}

.faq-query-text {
    width: 97%;
    font-size: 14px;
}

.vee {
    font-size: 18px;
    font-weight: bold;
}