/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* class utility */
.fl {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
} 

ul {
    list-style: none;
}

[class^="container-"] {
    margin: 0 auto;
}

.container-1 {
    width: 1300px;
    position: relative;
}

.container-2 {
    width: 1100px;
}

.button {
    display: inline-block;
    background: #0061ff;
    color: #fff;
    font-size: 16px;
    padding: 8px 25px;
    font-weight: lighter;
}

/* navbar */
nav.topbar {
    height: 70px;
    padding-top: 15px;
}

nav.topbar ul {
    width: 50%;
}

nav.topbar ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 18px;
}

/* nav.topbar img {
    vertical-align: middle;
} */

.topbar-right {
    text-align: right;
}

/* jumbotron */
header {
    background: #b4d0e7;
    height: 700px;
}

header .container-1 h1 {
    font-size: 65px;
    padding: 40px 30px 30px 0;
}

header .container-1 img {
    height: 450px;
    position: absolute;
    top: 300px;
    right: 0;

}

.text-header {
    max-width: 400px;
    font-size: 18px;
    padding-bottom: 30px;
}

.slogan {
    font-size: 14px;
    padding: 10px 0;
}

.arrow {
    font-size: 60px;
    padding-top: 20px;
}

/* piani di attivazione */
.plans {
    padding: 150px 0 50px 0;
}

.plans h2 {
    font-size: 40px;
}

.plans form {
    font-size: 16px;
}

.plans h2, .plans form, .plans-items, .plans-enterprise {
    padding: 20px 0;
}

.plans-item-1, .plans-item-2 {
    width: calc(100% / 3 - 40px);
}

.plans-item-2 {
    margin: 0 60px;
}

.plans-title {
    font-size: 14px;
    border: 1px solid #333;
    border-bottom: 0;
    padding: 10px;
    text-align: center;
    color: #555;
}

.plans-content {
    height: 750px;
}

.plans-content-enterprise, .plans-content{
    border: 1px solid #333;
    padding: 30px;
}

/* contenuto piani di attivazione */

.plans-content h3, .plans-content-enterprise h3 {
    font-size: 26px;
}

.plans-content .price {
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
}

.plans-content .al-mese {
    font-size: 16px;
    color: #555;
}

.plans-content > ul {
    padding: 40px 0;
}

.plans-content ul li{
    padding: 8px 0;
    font-size: 15px;
}

.buy {
    padding: 20px 0 30px 0;
    font-size: 15px;
}

.plans-content hr {
    width: 50px;
}

.list-title {
    padding: 30px 0 10px 0;
    font-weight: bold;
}

.list ul {
    list-style: disc;    
    padding-left: 18px;
}

/* piani enterprise */
.plans-content-enterprise {
    position: relative;
}

.button-ent {
    position: absolute;
    top: 30px;
    right: 30px;
}

/* sezione partner */
.partner {
    padding: 50px 0;
}
.partner-img {
    width: 65%;
}

.partner-img img {
    height: 550px;
}

.partner-text {
    width: 35%;
}